@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body, html{
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    
}
body{
    display: flex;

}
header{
    border: 1px solid grey;
    height: auto;
}
nav h1{
    font-size: 25px;
    font-weight: 600;
    padding:10px;
    border-bottom: 1px solid grey;
}
nav ul{
   list-style: none;

}
nav ul li{
    border-bottom: 1px solid grey;
    padding: 10px;
    color:black;

}
nav ul li:hover{
    background-color: rgb(161, 161, 161);
    transition:0.3s ease-in-out
}
main{
    padding:50px;
    max-width: 1200px;
}
section{
    margin-bottom: 50px;;
}
section article{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap:20px

}
section h2{
    font-size: 20px;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 400;
}
section article ul{
    margin-left: 25px;
  

}
section article ul li{
    margin-bottom: 10px;
}
code{
    white-space: pre-line;
    line-height: 2;
    background: rgb(219, 216, 216);
    padding:15px;
    margin:10px;
}




























